.errWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 80px;
    width: 100%;
    z-index: 1;
}

.errmsg{
    color: black;
    font-size: 1.5rem;
}

.hide{
    display: none;
}

.closeIcon{
    cursor: pointer;
}