.navbar{
    position: fixed;
    display: grid;
    grid-template-columns: 3fr 1fr 1.1fr;
    /* place-items: center; */
    align-items: center;
    background-color: transparent;
    padding: 0 0.7rem;
    height: 80px;
    width: 100%;
    /* opacity: 0.9; */
    z-index: 1;
    transition: all 0.5s ease-out;
}

.navbar--logo{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.navbar--logo > a > img{
    height: 43px;
    width: 38px;
    align-self: center;
}

.title{
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
    font-weight: 700;
}

.tgBtn{
    justify-self: end;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-items: center;
}

.menu--icon{
    display: none;
}

.icon-show{
    display: flex;
    justify-self:end;
    position: relative;
}

.drop-down{
    position: absolute;
    top: 80px;
    right: 2px;
    background-color: black;
    opacity: 0.9;
    padding: 1rem;
}

.drop-down > p{
    font-size: 1.3rem;
    padding-bottom: 1rem;
    color: white;
    font-family: var(--poppins);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}

.drop-down > p:hover{
    border-bottom: 2px solid rgb(159, 255, 161);
    cursor: pointer;
}

.drop-down > p > span{
    margin-left: 1rem;
}

.logout{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    background: none;
    border: none;
    color:white;
    width: 100%;
}

.logout:hover{
    border-bottom: 2px solid rgb(159, 255, 161);
    background: none;
}

.logout > span:not(:last-child){
    margin-right: 0.4rem;
    font-size: 1.2rem;
    font-family: var(--poppins);
}


@media only screen and (max-width: 768px){
    .navbar{
        grid-template-columns: 1fr 0.5fr 0.5fr;
    }
    
    .menu{
        display: none;
    }

    .menu--icon{
        display: block;
        justify-self: end;
    }

    .title{
        font-size: 1.5rem;
    }
    
    .mobile{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        text-align: center;
        background-color: black;
        width: 100%;
        min-height: 100vh;
        z-index: 20;
    }

    .mobile > p{
        font-size: 1.3rem;
        padding-bottom: 1rem;
        color: white;
        font-family: var(--poppins);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile > p:hover{
        border-bottom: 2px solid rgb(159, 255, 161);
    }

    .mobile > p > span{
        margin-left: 1rem;
    }

    .nav--links{
        margin: 0.25rem 0;
        font-size: 1.5rem;
        width: 90%;
    }

    .nav--links:hover{
      text-decoration: underline;
      border: none;
    }
}

